.container {
  max-width: $width-index-bg;
  margin: 6vw auto;
  background-color: $color-gray-white;
  display: grid;
  grid-template-columns: 25.5rem 1fr;
  column-gap: 3rem;

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
    max-width: $width-index-md;
    column-gap: 0;
    row-gap: 4rem;
  }
  @media only screen and (max-width: $bp-phone) {
    margin: 0;
    row-gap: 0;
  }
}

// Header of Index Html

.header {
  display: grid;
  grid-template-columns: 25.5rem;
  row-gap: 2.7rem;

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0rem;
    column-gap: 1rem;
  }

  @media only screen and (max-width: $bp-phone) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  &__box {
    background-image: url('../assets/suggestions/desktop/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $border-radius-1;

    display: grid;
    align-content: end;
    padding: 6.5rem 2.4rem 2.5rem 2.4rem;

    @media only screen and (max-width: $bp-tablet) {
      background-image: url('../assets/suggestions/tablet/background-header.png');
    }

    @media only screen and (max-width: $bp-phone) {
      background-image: url('../assets/suggestions/mobile/background-header.png');
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.4rem;
    }
  }

  &__nav {
    background-color: $color-white;
    border-radius: $border-radius-1;
    padding: 2.4rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-phone) {
      display: none;
      padding: 3rem;
    }
  }

  &__list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.4rem;

      @media only screen and (max-width: $bp-phone) {
        margin-right: 1.75rem;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      color: $color-blue;
      font-size: 1.3rem;
      font-weight: 600;
      text-decoration: none;
      background-color: $color-gray-white;
      border-radius: $border-radius-1;
      padding: 0.5rem 1rem;

      @media only screen and (max-width: $bp-phone) {
        font-size: 1.8rem;
        padding: 0.75rem 1.3rem;
      }
    }

    &:hover {
      background-color: rgba($color-blue, 0.2);
    }
  }

  &__link--active {
    background-color: $color-blue !important;
    color: $color-white !important;
  }
}

// Main Container n Sidebar
.main {
  display: grid;
  grid-template-rows: 7.2rem 15rem;
  row-gap: 2.4rem;

  @media only screen and (max-width: $bp-phone) {
    row-gap: 3.2rem;
  }

  &__container {
    display: grid;

    @media only screen and (max-width: $bp-phone) {
      padding: 0 2.4rem;
    }
  }

  &__container-empty {
    background-color: $color-white;
    border-radius: $border-radius-1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sidebar {
  background-color: $color-dark-blue-1;
  border-radius: $border-radius-1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 2.4rem;

  @media only screen and (max-width: $bp-phone) {
    border-radius: 0;
    grid-template-columns: 1fr 1fr;
  }

  &__suggestions {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    column-gap: 1.5rem;

    @media only screen and (max-width: $bp-phone) {
      display: none;
    }
  }

  &__heading-2 {
    display: flex;

    & > span {
      margin-right: 1rem;
    }
  }

  &__options {
    color: $color-white;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    padding: 0 3.8rem;

    position: relative;

    &--hover-state:hover {
      color: rgba($color-white, 0.7);
    }

    @media only screen and (max-width: $bp-phone) {
      padding: 0;
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 5.5rem 11rem 1fr;
    align-items: center;
    column-gap: 0.5rem;
    // position: relative;

    & > span {
      font-weight: 700;
    }
  }

  &__icon {
    width: 1rem;
    height: 0.7rem;
    filter: brightness(3.5);
    margin-top: 0.3rem;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Menu

.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}

.menu__checkbox {
  display: none;
}

@media only screen and (min-width: $bp-tablet) {
  .display-flex {
    display: none;
  }
  .display-grid {
    display: none;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: $bp-phone) {
  .menu {
    display: block;
    &__icon {
      position: relative;
      margin-right: 2.4rem;

      &,
      &::before,
      &::after {
        content: '';
        display: block;
        height: 3px;
        width: 3.75rem;
        background-color: $color-white;
        position: absolute;
        right: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -1rem;
      }
      &::after {
        top: 1rem;
      }
    }

    &__nav {
      position: absolute;
      top: 9.5rem;
      right: 0%;
      background-color: $color-gray-white;
      height: 100vw;
      width: 0vw;
      opacity: 0;
      transition: all 0.2s;
      overflow: hidden;

      display: grid;
      padding: 2.4rem;
      row-gap: 2.4rem;
    }
  }

  // Menu Functionality

  .menu__checkbox:checked ~ .menu__nav {
    display: grid;
    opacity: 1;
    width: 75vw;
  }

  .menu__checkbox:checked ~ label .menu__icon {
    background-color: transparent;
  }

  .menu__checkbox:checked ~ label .menu__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }

  .menu__checkbox:checked ~ label .menu__icon::after {
    transform: rotate(135deg);
    top: 0;
  }
}
