.container-new {
  max-width: $width-new-bg;
  margin: 6vw auto;
  background-color: $color-gray-white;

  @media only screen and (max-width: $bp-phone) {
    padding: 2.4rem;
  }
}

.header-new {
  &__btn-back-box {
    display: grid;
    grid-template-columns: 1rem 6rem;
    align-items: center;
    column-gap: 1.2rem;
  }
}

.main-new {
  background-color: $color-white;
  border-radius: $border-radius-1;
  padding: $padding-1;
  position: relative;

  &__plus {
    position: absolute;
    top: -5%;

    @media only screen and (min-width: $bp-desktop) {
      top: -2%;
    }
  }
}
